body {
	background-image: url(images/10print_fade-000000.png);
	font-family: "Courier New", Courier, Arial, sans-serif;
}

.bio {
	border-radius: 20px;
	background-color: #CCCCCC;
	overflow: hidden;
	clear: both;
	width: 800px;
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 10px;
	margin-top: 10px;
}

.bio h2 {
	text-align: center;
}

.headshot {
	align-content: center;
	width: 350;
	float: left; 
	margin-bottom: 50px;
}

.headshot img {
	object-fit: cover;
 	width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.description {
	border-radius: 5px;
	background-color: #999999;
	width: 350px;
	align-content: center;
	padding: 10;
	float: right;
	margin-right: 20px; 
	margin-bottom: 50px;
}
