body {
	padding: 0;
	margin: 0;
	background-image: url(images/10print_fade-000000.png);
	font-family: "Courier New", Courier, Arial, sans-serif;
}

.nav {
		margin-top: -1em;
		background-color: #555555;
		color: #FFFFFF; 
		list-style: none;
		text-align: center;
}

.nav > ul > li {
	display: inline-block;
	line-height: 50px;
	height: 50px;
	padding: 0 30px 0 30px
}

.nav > ul > li > a {
	text-decoration: none;
	color: #DDDDDD;
}

.nav > ul > li:hover {
	background-color: #444444;
}

.nav > ul > li > a:hover {
	color: #FFFFFF;
}

#icon {
	background-color: #FFFFFF;
}

.bio {
	border-radius: 20px;
	background-color: #CCCCCC;
	overflow: hidden;
	clear: both;
	width: 800px;
	margin-left: auto;
	margin-right: auto; 
	margin-bottom: 10px;
	margin-top: 10px;
}

.bio h2 {
	padding: 10px;
	text-align: center;
}

.headshot {
	text-align: center;

	margin: 0px 0px 25px 25px;
	vertical-align: middle;
	width: 300;
	float: left; 
}

.headshot img {
	object-fit: cover;
 	width: 300px;
    height: 300px;
    border-radius: 50%;
    display: block;
}

.description {
	padding: 10px;
	text-align: left;
	border-radius: 5px;
	background-color: #999999;
	width: 350px;
	padding: 10;
	float: right;
	margin-right: 20px; 
	margin-bottom: 50px;
}
